/* .media::after {
  background-image:url('../../images/png-clipart-human-figure-icon-illustration-user-silhouette-my-account-icon-animals-black.png');
  content: "";
  background-size: 10px 20px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 100%;
  margin-left: 10px;
} */

